body {
	margin: 0;
	padding: 0;
	background: #339999;
}

#app {
	margin: 200px auto;
	width: 600px;
	height: 320px;
	border: 1px gray solid;
	border-radius: 10px;
	background: #FFCC99;
}

#loginDiv {
	width: 580px;
	height: 300px;
	margin: 10px 10px;
	padding: 0 8px;
	background: #E8F2F9;
	border: 1px gray solid;
	border-radius: 10px;
}

#loginDiv .login-title h3 {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: right;
}

#app #loginDiv #content {
	width: 560px;
	height: 260px;
	margin: 0 2px;
	background: #E2F6FA;
	border: 1px gray solid;
	border-radius: 10px;
}

#app #loginDiv #content #login-form {
	margin: 20px auto;
	width: 300px;
}

#app #loginDiv #content #login-form .form-group label {
	display: inline-block;
	width: 60px;
	text-align: right;
}

#app #loginDiv #content #login-form .image-box input {
	width: 80px;
}