<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<style>
			#app #head-nav{
				height: 60px;
				background: #ABE3FF;
			}
			#app #head-nav ul, #app #center-nav ul{
				margin: 10px auto;
			}
			#app #head-nav ul li, #app #center-nav ul li{
				margin: 0 10px;
				
			}
			#app #head-nav ul li select{
				line-height: 26px;
				height: 26px;
			}
			#app #center-nav{
				height: 60px;
				background: #738FFF;
			}
			#app #content-table #table-div{
				height: 610px;
			}
			#app #content-table #table-div table tbody tr td input{
				display: inline-block;
			}
			#app #content-table table thead tr th{
				text-align: center;
			}
			#app #content-table table thead tr{
				background: #D2D2D2;
				height: 45px;
			}
			#app #content-table table tbody tr td:nth-child(3),td:nth-child(4){
				color: blue;
				text-decoration: underline;
			}
			#app #content-table table{
				table-layout:fixed;
			}
			#app #content-table table tbody tr td{
				overflow: hidden; 
			    text-overflow:ellipsis;  
			    white-space: nowrap; 
			}
			#app #table-bottom-nav{
				height: 50px;
				background: #D2D2D2;
				position: relative;
				bottom: -108px;
			}
			#app #table-bottom-nav div{
				margin: 10px auto;
			}
			#app #table-bottom-nav ul li{
				margin: 0 5px;
			}
			#app #table-bottom-nav ul li input{
				width: 50px;
				height: 34px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div id="head-nav">
				<ul class="nav navbar-nav">
					<li>日期时间：<input type="date" id="date-prev"/> </li>
					<li>至：<input type="date" id="date-suff"/> </li>
					<!--<li>
						<select id="game-type-sel">
							<option value="all">所有游戏场</option>
							<option value="ddz1">斗地主初级场</option>
							<option value="ddz2">斗地主中级场</option>
							<option value="ddz3">斗地主高级场</option>
							<option value="ddz4">斗地主大师场</option>
							<option value="brnn">百人牛牛</option>
						</select>
					</li>-->
					<li><button class="btn btn-primary">查询</button></li>
					<li><button class="btn btn-primary">最近30天</button></li>
					<li><button class="btn btn-primary">刷新</button></li>
				</ul>
			</div>
			<div id="center-nav">
				<ul class="nav navbar-nav">
					<li><button class="btn btn-danger">删除</button></li>
					<li><button class="btn btn-warning">冻结</button></li>
					<li><button class="btn btn-success">解冻</button></li>
				</ul>
			</div>
			<div id="content-table">
				<div id="table-div">
					<table class="table table-striped text-center table-bordered table-hover table-condensed">
						<thead>
							<tr>
								<th><input type="checkbox" id="selectAll" /> 全选</th>
								<th>日期</th>
								<th>邮件主题</th>
								<th>邮件正文</th>
								<th>附赠筹码</th>
								<th>发送范围</th>
								<th>发送状态</th>
								<th>操作人</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1111111111111111111111111111111111111111111111111111</a></td>
								<td><a href="#">1111111111111111111111111111111111111111111111111111</a></td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr>
								<td><input type="checkbox" class="checkbox" /></td>
								<td>1</td>
								<td><a href="#">1</a></td>
								<td><a href="#">1</a></td>
								
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="table-bottom-nav">
					<div class="col-lg-4">
						总记录：3页码：1/1　每页：20
					</div>
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<ul class="nav navbar-nav">
							<li><button class="btn btn-primary">首页</button></li>	
							<li><button class="btn btn-primary">上页</button></li>	
							<li><button class="btn btn-primary">下页</button></li>	
							<li><button class="btn btn-primary">末页</button></li>
							<li><input type="number" id="page-number" /></li>
							<li><button class="btn btn-primary">跳转</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</body>
	<script type="text/javascript" src="../../js/jquery-2.1.0.js" ></script>
	<script type="text/javascript" src="../../js/bootstrap.js" ></script>
	<script>
		$('#selectAll').change(function() {
			if($(this).is(':checked')) {
				$('.checkbox').each(function(){
					$(this).prop('checked',true);
				});
				console.log('selected');
			} else {
				$('.checkbox').each(function(){
					$(this).prop('checked',false);
				});
				console.log('cancel');
			}
		});
	</script>
</html>
